@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&display=swap');
.cs_page {
font-family: 'Abel', sans-serif;
}
.cs_page h1, h2, h3, h4{
font-family: 'Montserrat Alternates', sans-serif;
}
/*---------------------------*/
/*Header section Start */
/*---------------------------*/
.logo__main {
 background: #FFD23F;
 padding: 20px;
 border-radius: 10px;
 transform: scale(1.5);
 color: #000;
 font-family: Montserrat Alternates;
 font-size: 22px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 margin-right: 60px;
}
.main__header {
 margin-bottom: 30px;
 background: #1e0e52!Important;
}
.main__header .nav-item a {
 font-family: Montserrat Alternates;
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 color:#fff!important;
}
.btn__main {
 background: #ffd23f;
 color: #000;
 font-family: 'Abel';
}
.main__header button.navbar-toggler {
 color: #fff;
 text-transform: uppercase;
}
.main__header button.navbar-toggler span.navbar-toggler-icon {
 filter: invert(1);
}
div#navbarSupportedContent {
 margin-top: 40px;
}
/*---------------------------*/
/*Header section Start */
/*---------------------------*/

div#main__content {
 padding: 50px 0;
}

/*--------------------------*/
/*match card section start */
/*--------------------------*/
.match_live{
color: #FFD23F;
}
.btn__match_list, .btn__match_list:hover {
 width: 100%;
 background: #000;
 color: #fff;
}

.btn__match_list > div {
 display: flex;
 justify-content: space-between;
 width: 100%;
}
.match__list_footer {
 background: #000;
 color: #fff;
 text-align: center;
 padding: 10px;
}
.match__list_footer a {
 color: #fff;
}
.team__vs_t {
 display: flex;
 width: 100%;
 justify-content: space-between;
 align-items: center;
}
.team1 {
 background: #ffd23f;
 padding: 12px;
 padding-left: 30px;
 padding-right: 18px;
 border-radius: 0 50px 50px 0;
}
.team1 img {
 width: 40px;
 height: 40px;
 object-fit: contain;
}
.team2 {
 background: #1e0e52;
 padding: 12px;
 padding-right: 30px;
 padding-left: 18px;
 border-radius: 50px 0 0 50px;
}
.team2 img {
 width: 40px;
 height: 40px;
 object-fit: contain;
}
.scr_highlight {
 background: #ffd23f;
 padding: 2px 10px;
}
/*--------------------------*/
/*match card section End */
/*--------------------------*/

/*calender section start*/

.calender_date_tab {
 display: flex;
 gap: 10px;
 flex-flow: wrap;
}
.calender_date_tab .date_link {
 padding: 10px 20px;
 background: #dbdbdb;
 border-radius: 5px;
 cursor: pointer;
}
.calender_date_tab p, .calender_date_tab h3 {
 margin: 0;
}
.calender_wrapper {
 border: 1px solid #ccc;
 margin-bottom: 30px;
 padding: 20px;
 border-radius: 5px;
}
@media only screen and (max-width:767px){
 .calender_wrapper {
 padding: 10px;
}
.calender_date_tab h3 {
 font-size: 90%;
}
.calender_date_tab p {
 font-size: 80%;
}
.calender_date_tab .date_link {
 padding: 10px 15px;
}
}
/*calender section End*/

/*sub button tab start */

.sub_view_btn {
 padding: 30px 0;
 border-bottom: 1px solid #ccc;
 margin-bottom: 20px;
}
 .sub_view_btn .nav-tabs {
 gap: 10px;
}
.sub_view_btn .nav-link {
 background: #1e0e52;
 color: #fff;
 text-transform: uppercase;
}
.sub_view_btn .nav-link.active {
 background: #ffd23f;
 color: #000;
 font-weight: 600;
}
/*sub button tab start */

/*---------------------------*/
/*Footer section Start */
/*---------------------------*/
.cs_page footer {
 background: #1E0E52;
 padding: 50px 0;
}
.footer_text {
 display: flex;
 gap: 30px;
 color:#fff;
}
.footer_text h2 {
 font-family: 'Montserrat Alternates';
 font-size: 30px;
 color: #fff;
 font-weight: 700;
}
.social__media {
 display: flex;
 color: #fff;
 gap: 20px;
 text-align: center;
 margin-bottom: 10px;
}
.icon_text_social img {
 width: 40px;
 height: 40px;
 background: #ffd23f;
 padding: 8px;
 border-radius: 100px;
 object-fit: contain;
}
/*---------------------------*/
/*Footer section End */
/*---------------------------*/
